<style>
    @media screen {
        body { margin: 0 }
        .holder { overflow: hidden; position: absolute; left: 0; right: 0; }

        #tool-view.container-fluid { height: 75px; top: 0; }
        .holder { top: 170px; bottom: 0; }
        footer { height: 0; bottom: 0; }
    }
    .box{
        width: 100%;
        height: 100%;
    }
</style>

<iframe class="box" src="https://dynmap.software-city.org"></iframe>

<script>
    $("iframe.box").contents().find("leaflet-layer").css("background", "#222")
</script>