<div class="container mt-5">
    <div class="mt-3 mb-5">
        <h4>Available tools</h4>
        <div class="list-group tools"></div>
    </div>
</div>

<script>
    (function (){
        let url = "https://toolbox.software-city.org"
        fetch(`${url}/tool-list`)
            .then((response) => response.json())
            .then(function (tools) {
                let list = document.querySelector(".list-group.tools")
                tools.forEach((tool) => {
                    let item = document.createElement("a")
                    item.classList.add("list-group-item", "list-group-item-action")
                    item.href = `${url}/${tool}`
                    item.target = "_blank"
                    item.innerText = tool.split("_").map((word) => (
                        word.charAt(0).toUpperCase() + word.slice(1)
                    )).join(" ")
                    list.appendChild(item)
                })
        })
    })()
</script>