{%extends "base/main_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/index.css">
    <style>
        .jumbotron{
            background-image: url("/static/dashboard/img/{{ title_img }}");
        }
    </style>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Welcome {{ session.get("username") }}</h1>
    </div>
    <div id="dashboard-wrapper">
        {% for module in dash_modules %}
            {% include "components/dashboard/modules/" + module.id + ".html" %}
        {% endfor %}
    </div>

    <script src="/static/js/pages/index.js"></script>
{% endblock %}
