{%extends "base/main_base.html" %}

{% block head %}
    <style>
        .jumbotron{
            background-image: url("/static/dashboard/img/{{ title_img }}");
        }
    </style>
    <link rel="stylesheet" href="/static/css/pages/index.css">
    <script src="/static/js/pages/dash-extensions.js"></script>
    <script src="/static/js/pages/index.js" defer></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="text-center">Welcome, {{ session.get("username") }}</h1>
    </div>
    <div id="dashboard-wrapper">
        {% for module in dash_modules %}
            {{ module|safe }}
        {% endfor %}
    </div>
{% endblock %}
