{%extends "base/main_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/pages/server.css">
    <script src="/static/js/pages/server.js" defer></script>
{% endblock %}

{% block body %}
    <div class="progress">
        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width: 100%"></div>
    </div>
    <div class="row" id="selector">
        {% for module in modules %}
        <div class="col-lg-3 col-md-4 col-sm-6 p-2" onclick="load_module('{{ module.id|string }}')">
            <div class="module-item ripple mad-ripple">
                <div class="image-preview">
                <img src="" data-src="?get-image={{ module.id|string }}" alt="">
                </div>
                <div class="header">
                    <h5 class="title">{{ module.name }}</h5>
                </div>
                <div class="description">
                    <small class="text-info">{{ module.description }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="module-view" hidden>
        <div id="back-btn">
            <div class="list-group-item list-group-item-action ripple" onclick="load_module(null)">
                <h5>< Go Back</h5>
            </div>
        </div>
    </div>
{% endblock %}
