body{
    margin: 0 4px;
}
#wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
}
#editor{
    height: calc(100vh - 24px);
    border-top-left-radius: 5px;
    width: 50%;
}
.html-container{
    height: calc(100vh - 24px);
    border-top-right-radius: 5px;
    width: 50%;
    overflow: auto;
    background-color: white;
    border-left: solid 1px #282A2E;
}
.bottom-bar{
    position: absolute;
    width: calc(100% - 8px);
    bottom: 0;
    background-color: #25282c;
    height: 25px;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bottom-bar .spacer{
    width: 40px;
    height: 100%;
    border-bottom-left-radius: 5px;
}
.bottom-bar .content{
    flex-grow: 1;
    border-bottom-right-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
}
.bottom-bar .content div{
    position: absolute;
    right: 0;
}
.bottom-bar .content div span{
    cursor: pointer;
}
.bottom-bar .content div span:hover, .bottom-bar .content div span.active{
    background-color: rgba(255, 255, 255, 0.1);
}
.bottom-bar .content span{
    font-size: 14px;
    padding: 2px 6px;
}
.hide{
    display: none !important;
}