<style>
    .float-close-end{
        position: absolute !important;
        right: 15px;
    }
</style>

<div class="dashboard-element">
    <div class="dashboard-element-body joke-element">
        <h3>
            Joke
            <small class="loading" id="joke-votes">
                <i class="material-icons text-button green" title="Upvotes">arrow_upward</i><span class="text-button green">2</span>
                <i class="material-icons text-button red" title="Downvotes">arrow_downward</i><span class="text-button red">0</span>
            </small>
        </h3>
        <div class="mb-5 loading" id="joke-section">
            Chuck Norris does not own a house. He walks into random houses and people move.
        </div>
        <div class="mt-4 expand-max hold-bottom loading" id="joke-action-section">
            <button class="material-icons text-button green" title="Upvote">arrow_upward</button>
            <button class="material-icons text-button red" title="Downvote">arrow_downward</button>
            <button class="material-icons text-button blue" title="Next joke">arrow_forward</button>
            <span class="dashboard-element-label float-close-end" id="joke-category" title="Joke category"><span>Cheesy pick up lines</span></span>
        </div>
    </div>
</div>

<script>
    (function(){
        let joke_info = document.querySelector("#joke-votes")
        let joke_text = document.querySelector("#joke-section")
        let actions = document.querySelector("#joke-action-section")
        let all = [joke_info, joke_text, actions]

        let last_joke = null

        function loading(bool){
            all.map(elem => {
                elem.classList.toggle("loading", bool)
            })
        }

        function load_joke(){
            loading(true)
            fetch("https://api.software-city.org/app/get_joke?jokemode=random").then(resp => {
                resp.json().then(joke => {
                    last_joke = joke.id
                    joke_info.querySelector("span.green").innerText = joke.up
                    joke_info.querySelector("span.red").innerText = joke.down
                    joke_text.innerHTML = joke.joke
                    actions.querySelector("#joke-category span").innerText = joke.category
                    loading(false)
                })
            })
        }
        load_joke()

        function vote_joke(direction){
            loading(true)
            fetch(`https://api.software-city.org/app/get_joke?jokemode=vote&id=${last_joke}&voting=${direction}`).then(_ => {
                load_joke()
            })
        }

        actions.querySelector("button.green").addEventListener("click", _ => {vote_joke("up")})
        actions.querySelector("button.red").addEventListener("click", _ => {vote_joke("down")})
        actions.querySelector("button.blue").addEventListener("click", _ => {load_joke()})

        document.querySelectorAll(".dashboard-element-body.joke-element *[title]").forEach(elem => {
            new bootstrap.Tooltip(elem)
        })
    })()
</script>