<style>
    .icon-holder{
        position: relative;
    }
    .icon-holder .leading-icon {
        border-radius: 100px;
        height: 35px;
        width: 35px;
    }
    .icon-holder .icon-footer{
        position: absolute;
        bottom: 0;
        right: -6px;
        border-radius: 100px;
        height: 16px;
        width: 16px;
        outline: white 1px;
        background-color: #1c2538;
    }
    .ts-user{
        font-size: 1.2em;
        cursor: pointer;
    }
    .ts-user small{
        font-size: 8px;
        margin-left: 5px;
        vertical-align: top !important;
    }
    .invisible{
        display: none !important;
    }
    #ts-sync-indicator{
        font-size: 2rem;
        margin-top: 3px;
        animation: ease-in-out pulsate 2s infinite;
        user-select: none;
    }
    #ts-sync-indicator.error{
        color: darkred !important;
        animation: none !important;
    }
    @keyframes pulsate {
        0%{
            color: #005607;
        }
        30%{
            color: #009b09;
        }
        100%{
            color: #005607;
        }
    }
</style>

<div class="dashboard-element">
    <div class="dashboard-element-body ts-info-element">
        <h3>Teamspeak Users <i id="ts-sync-indicator" class="material-icons float-end" title="Auto-refresh active">sensors</i></h3>
        <ul class="list-group list-group-flush" id="ts-list">
            {% for i in range(3) %}
            <li class="list-group-item border-top border-secondary bg-transparent d-flex align-items-center ts-placeholder">
                <div class="flex-shrink-0 loading casual">
                    <img class="leading-icon" src="" alt="">
                </div>
                <div class="flex-grow-1 ms-3 ts-user loading">
                    Username that is way too long
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    (function(){
        let ts_icons = {
            "away": "client_away.png",
            "normal": "client_normal.png",
            "talking": "client_talking.png",
            "muted": "input_muted.png",
            "hard_muted": "input_muted_hardware.png",
            "deaf": "output_muted.png",
            "hard_deaf": "output_muted_hardware.png"
        }
        for(let icon in ts_icons){
            ts_icons[icon] = "/static/img/pages/dashboard/modules/teamspeak/" + ts_icons[icon]
        }


        let ts_list = document.querySelector("#ts-list")
        let first = true
        let error = null
        function make_err(){
            document.querySelector("#ts-sync-indicator").classList.add("error")
            document.querySelector("#ts-sync-indicator").title = "Auto-Refresh inactive - Request error"
            ts_list.innerHTML = ""
            let elem = document.createElement("li")
            elem.className = `list-group-item border-top border-secondary bg-transparent d-flex align-items-center`
            elem.innerHTML = `
                <div class="flex-grow-1 ms-3 ts-user">Request error</div>
            `
            ts_list.appendChild(elem)
        }
        function update() {
            if(error) return
            app_fetch(`https://api.software-city.org/app/get_ts`).then(resp => {
                error = !resp.ok
                if(error) {
                    make_err()
                    return
                }
                resp.json().then(data => {
                    ts_list.querySelectorAll("li:not(.ts-placeholder)").forEach(elem => {
                        ts_list.removeChild(elem)
                    })

                    let users = data.users
                    users.sort((a, b) => {return a.client_talk_power - b.client_talk_power})
                    users.reverse()

                    for (let user of users) {
                        let elem = document.createElement("li")
                        elem.className = `list-group-item border-top border-secondary bg-transparent d-flex align-items-center${first ? " invisible" : ""}`
                        elem.innerHTML = `
                            <div class="icon-holder flex-shrink-0">
                                <img class="leading-icon" src="{{ query_url }}/user?app_avatar=${user.client_nickname}&app=ts" alt="">
                                <img class="icon-footer" src="" alt="">
                            </div>
                            <div class="flex-grow-1 ms-3 ts-user">
                                ${user.client_nickname}
                                <small class="badge bg-info">${user.client_country}</small>
                                <small class="badge bg-secondary">v${user.client_version.split(" ")[0]}</small>
                                ${user.client_is_recording === "1" ? '<small class="badge bg-danger">REC</small>' : ''}
                            </div>
                        `
                        if(user.client_is_channel_commander === "1"){
                            elem.querySelector(".ts-user").classList.add("text-warning")
                        }
                        elem.querySelector(".ts-user").addEventListener("click", _ => {
                            window.open(`https://{{ app.url }}/user/ts/${user.client_nickname}`, "_blank")
                        })

                        let status_icon = elem.querySelector(".icon-footer")
                        if(user.client_away === "1"){
                            status_icon.src = ts_icons["away"]
                        }else if(user.client_output_hardware === "0"){
                            status_icon.src = ts_icons["hard_deaf"]
                        }else if(user.client_input_hardware === "0"){
                            status_icon.src = ts_icons["hard_muted"]
                        }else if(user.client_output_muted === "1"){
                            status_icon.src = ts_icons["deaf"]
                        }else if(user.client_input_muted === "1"){
                            status_icon.src = ts_icons["muted"]
                        }else if(user.client_flag_talking === "1"){
                            status_icon.src = ts_icons["talking"]
                        }else{
                            status_icon.src = ts_icons["normal"]
                        }

                        ts_list.appendChild(elem)
                    }
                    if(users.length === 0){
                        let elem = document.createElement("li")
                        elem.className = `list-group-item border-top border-secondary bg-transparent d-flex align-items-center${first ? " invisible" : ""}`
                        elem.innerHTML = `
                            <div class="flex-grow-1 ms-3 ts-user">No users online</div>
                        `
                        ts_list.appendChild(elem)
                    }
                    function make_vis(){
                        ts_list.querySelectorAll(".invisible").forEach(elem => {
                            elem.classList.remove("invisible")
                        })
                        ts_list.querySelectorAll(".ts-placeholder").forEach(elem => {
                            ts_list.removeChild(elem)
                        })
                    }
                    if(first){
                        first = false
                        setTimeout(make_vis, 600)
                    }
                })
            })
        }
        update()
        setInterval(update, 10000)

        document.querySelectorAll(".dashboard-element-body.ts-info-element *[title]").forEach(elem => {
            new bootstrap.Tooltip(elem)
            elem.addEventListener("shown.bs.tooltip", _ => {
                if(!elem.title) return
                document.querySelector(`#${elem.getAttribute("aria-describedby")} .tooltip-inner`).innerHTML = elem.title
                elem.removeAttribute("title")
            })
        })
    })()
</script>