{% extends "base/acp_base.html" %}

{% block head %}
    <style>
        #console-container{
            overflow: auto;
            max-height: calc(100% - 130px);
        }
        #console-container ul li pre{
            font-family: Consolas, sans-serif;
        }
        #controls {
            height: 40px;
            background-color: #25282c;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            flex-direction: row;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="console-container" class="p-4 bg-dark">
        <ul class="list-unstyled" id="console"></ul>
    </div>

    <div class="fixed-bottom input-group" id="controls">
        <input class="form-control bg-dark text-white" type="text" name="cmd" placeholder="Command">
        <button class="btn btn-primary" id="exc-cmd">Execute</button>
    </div>

    <script src="/static/js/acp/acp_console.js"></script>
{% endblock %}