{%extends "base/main_base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/dashboard/css/settings.css">
    <script src="/static/js/jquery/jquery-ui.min.js"></script>
    <script src="/static/dashboard/js/settings.js" defer></script>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="holder mt-5">
            <h3>Title Image</h3>
            <div class="row title-img-holder container">
                {% for img in title_img.all %}
                <div class="image-preview ripple col-lg-3 col-md-4 col-sm-6 {{ "active" if img == title_img.active }}">
                    <img src="/static/dashboard/img/{{ img }}" alt="" data-img-id="{{ img }}">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="holder mt-5">
            <h3>Modules</h3><small>(Click to toggle)</small>
            <div class="row module-holder container">
                {% for mod in dash_modules %}
                <div class="module col-lg-4 col-md-6 col-sm-12 {{ "active" if mod.active }}">
                    <div class="module-inner position-relative p-2" data-mod-id="{{ mod.id }}">
                        <h2>{{ mod.name }}</h2>
                        {{ mod.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
