<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>image preview</title>
    <link rel="stylesheet" href="/static/cloud_previews/css/general.css">
    <script src="/static/js/modules/cookie_tools.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center text-warning">
            <h1>Warning!</h1>
        </div>
        <div class="container">
            <p>
                Some file previews expose your files to external services such as:
            </p>
            <ul>
                <li>google.com</li>
                <li>microsoft.com</li>
            </ul>
            <p>
                These services are also able to set temporary cookies, which disappear if you leave the preview.
            </p>
            <p>
                Previews which use these services:
            </p>
            <ul>
                <li>PDF preview</li>
                <li>OpenDocument preview</li>
                <li>OfficeDocument preview</li>
            </ul>
        </div>
        <div class="container mt-2 position-relative">
            <div class="float-start">
                <button class="btn btn-success" onclick="history.back()">< Go Back</button>
            </div>
            <div class="float-end end-0">
                <button class="btn btn-warning" onclick="continue_once()">Continue ></button>
                <button class="btn btn-danger" onclick="continue_forever()">Continue and don't warn me again ></button>
            </div>
        </div>
    </div>
    <script>
        function continue_once(){
            setCookie("accepted-preview-warning", "once", 1)
            location.reload()
        }
        function continue_forever(){
            setCookie("accepted-preview-warning", "forever", 9999999)
            location.reload()
        }
    </script>
</body>
</html>