<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown preview - {{ request.path.split("/").pop() }}</title>
    <link rel="stylesheet" href="/static/cloud_previews/css/general.css">
    <link rel="stylesheet" href="/static/css/base_styles/base_md_styles.css">
    <script src="/static/js/modules/highlight.min.js"></script>
    <script src="/static/cloud_previews/js/markdown_preview.js" defer></script>
</head>
<body>
    <div class="container markdown-container">{{ markdown|safe }}</div>
</body>
</html>