<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markdown editor - {{ request.path.split("/").pop() }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/cloud_previews/css/general.css">
    <link rel="stylesheet" href="/static/css/base_styles/base_md_styles.css">
    <link rel="stylesheet" href="/static/cloud_previews/css/markdown_editor.css">
    <script src="/static/js/modules/highlight.min.js"></script>
    <script src="/static/cloud_previews/ace_editor/ace.js"></script>
    <script src="/static/cloud_previews/ace_editor/ext-error_marker.js"></script>
    <script src="/static/cloud_previews/ace_editor/ext-language_tools.js"></script>
    <script src="/static/cloud_previews/ace_editor/ext-modelist.js"></script>
    <script src="/static/cloud_previews/ace_editor/ext-searchbox.js"></script>
    <script src="/static/cloud_previews/ace_editor/ext-spellcheck.js"></script>
    <script>
        ace.require("ace/ext/error_marker")
        ace.require("ace/ext/language_tools")
        ace.require("ace/ext/searchbox")
        ace.require("ace/ext/spellcheck")
        let mode_list = ace.require("ace/ext/modelist")
    </script>
    <script src="/static/cloud_previews/js/markdown_editor.js" defer></script>
</head>
<body>
    <div id="wrapper">
        <div id="editor"></div>
        <div class="markdown-container"></div>
        <div class="bottom-bar">
            <div class="spacer"></div>
            <div class="content">
                <span id="file-info">File Saved</span>
                <div id="view-switcher">
                    <span data-mode="0">Preview</span>
                    <span data-mode="1">Edit and view</span>
                    <span data-mode="2">Editor</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>