<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>docs preview</title>
    <link rel="stylesheet" href="/static/cloud_previews/css/general.css">
    <link rel="stylesheet" href="/static/cloud_previews/css/open_docs.css">
</head>
<body>
{#    <iframe src="https://docs.google.com/viewerng/viewer?embedded=true&url=https://dev.software-city.org/exposed-cloud/{{ position }}"></iframe>#}
    <iframe src="https://view.officeapps.live.com/op/embed.aspx?src=https://dev.software-city.org/exposed-cloud/{{ position }}"></iframe>
</body>
</html>