{% extends "components/cloud/previews/preview_base.html" %}
{% block title %}ZIP file{% endblock %}

{% block head %}
    <script src="/static/cloud_previews/js/zip_preview.js" defer></script>
{% endblock %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name (in <code id="zip-path">/</code>)</th>
                <th>Type</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody id="zip-table"></tbody>
    </table>
{% endblock %}