<template id="template-cloud-desktop">
    <td class="cloud-item-name"></td>
    <td class="cloud-item-options"></td>
    <td class="cloud-item-type"></td>
    <td class="cloud-item-size"></td>
    <td class="cloud-item-ops"></td>
</template>

<template id="template-cloud-mobile">
    <td class="cloud-item-name"></td>
    <td class="dropdown">
        <button class="material-icons text-white ripple" data-bs-toggle="dropdown">
            more_horiz
        </button>
        <ul class="dropdown-menu">
            <li class="cloud-item-options"></li>
            <li><span class="dropdown-item cloud-item-type"></span></li>
            <li><span class="dropdown-item cloud-item-size"></span></li>
            <li class="cloud-item-ops"></li>
        </ul>
    </td>
</template>