<div class="container">
    <h2>Hotkeys</h2>
    <table class="ms-3 table table-striped">
        <thead>
            <tr>
                <th>Hotkey</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>CTRL + Click</code></td>
                <td>Multiselect in cloud file list</td>
            </tr>
            <tr>
                <td><code>CTRL + F</code></td>
                <td>Search files</td>
            </tr>
            <tr>
                <td><code><code>ESC</code></code></td>
                <td>Exit from file search or deselect all files</td>
            </tr>
            <tr>
                <td><code>RightClick</code></td>
                <td>File operations context menu for all selected files</td>
            </tr>
            <tr>
                <td><code>CTRL + A</code></td>
                <td>Select all cloud files while hovering over the file list</td>
            </tr>
        </tbody>
    </table>


    <hr>



    <h3>Cloud good-to-knows</h3>
    <ul>
        <li>If you see a ">" before the file size of a directory, the directory contains more than 15 sub-folders and file size calculation has been interrupted to optimize performance</li>
        <li>If the file size is listed as "error" and you receive a 404 error when trying to access the file, the file is protected or not readable in any way</li>
    </ul>
</div>