<div class="dashboard-element">
    <div class="dashboard-element-body">
        <h3>Cloud</h3>
        <span class="dashboard-element-label">STORED FILES</span> <br>
        <div id="cloud-files">2815 Files in all directories</div> <br>
        <span class="dashboard-element-label">STORAGE USAGE</span> <br>
        <div id="cloud-usage">4.65GB / 10GB</div> <br>
        <span class="dashboard-element-label">USAGE GRAPH</span> <br>
        <div>
            <div class="progress">
                <div class="progress-bar" id="cloud-usage-bar" style="width: 46%;"></div>
            </div>
        </div>
    </div>
</div>